<footer>
  <div class="inferior">
  <ul class="redes">
      <li>
      <a href="https://www.facebook.com" target="_blank"><img class="iconos" src="../img/facebook.png" alt=""></a>
      </li>
      <li>
      <a href="https://www.twitter.com" target="_blank"><img class="iconos" src="../img/twitter.png" alt=""></a>
      </li>
      <li>
      <a href="https://www.instagram.com"><img class="iconos" src="../img/instagram.png" alt=""></a>
      </li>
      <li>
      <a href="https://www.youtube.com"><img class="iconos" src="../img/youtube.png" alt=""></a>
      </li>
      <li>
      <a href="https://www.spotify.com"><img class="iconos" src="../img/spotify.png" alt="spotify"></a>
      </li>
  </ul>
  <div class="derechos">
      <p>Copyright © 2022 TicketsToGo S.R.L</p>
      <p>Diseño: Diego Franco, Lautaro González, Luis Garza, Nicolas Del Giovannino.</p>
  </div>
  </div>
</footer>