<footer>
    <section class="redes">
        <li>
          <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com"><i class="fa-brands fa-instagram-square"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com"><i class="fa-brands fa-youtube-square"></i></a>
        </li>
        <li>
          <a href="https://www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
        </li>
        
    </section>
    <div class="derechos">
      <p>Todos los derechos Reservados</p>
      <p>Diseño: Diego Franco, Lautaro González, Luis Garza, Nico Del Gio, Sebastián Perez.</p>
    </div>
  </footer>