<footer>

  <div class="arriba">
    <a href="#top"><i class="fa-solid fa-angle-up"></i></a>
  </div>

  <div class="abajo">
    <ul class="redes">
      <li>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
      </li>
      <li>
        <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram-square"></i></a>
      </li>
      <li>
        <a href="https://www.youtube.com"><i class="fa-brands fa-youtube-square"></i></a>
      </li>
      <li>
        <a href="https://www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
      </li>
    </ul>
  
    <div class="derechos">
      <p>Copyright © 2022 TicketsToGo S.R.L</p>
      <p>Diseño: Diego Franco, Lautaro González, Luis Garza, Nicolas Del Giovannino.</p>
    </div>
  </div>

</footer>