
<header class="header">
      <img class="logo" src="/img/Logo_transparente.png" alt="imagen header">
</header>

<nav class="nav-bar">
  <li><a href="/">Inicio</a></li>
  <li><a href="/products/eventos">Eventos</a></li>
  <li><a href="/#nos">Nosotros</a></li>
  <li><a href="/#contact">Contactanos</a></li>
  <li><br></li>
  <div class="navicon">
    <% if (locals.isLogged){ %> 
      <li><%=locals.userLogged.user%>
      </li>
      <li>
        <div class="avatar-nav">
          <img src="/img/<%=locals.userLogged.avatar%>" width="70">
        </div>
      </li>
        <li><a href="/users/carrito"></a><img class="carrito" src="./img/shopping-cart.png" alt=""></a></li>
        <li><a href="/users/logout">Logout</a></li>
        <li><a href="#">Registrate</a></li>
      </div>
  

      <% } else {%>

      <li><a href="/users/register">Registrarme</a></li>
      <li><a href="/users/login"><i class="fa-solid fa-user"></i></a></li>
      
      <% } %>
    </ul>
  </nav>

