<header>
    <a href="/">
      <img class="logo" src="/img/Logo_transparente.png" alt=""/>
    </a>
    <nav class="nav-bar"> 
      <ul>
        <li><a href="/" class="navbar_link">Inicio</a></li>
        <li><a href="/products/eventos" class="navbar_link">Eventos</a></li>
        <li><a href="/nosotros" class="navbar_link">Nosotros</a></li>
        <li><a href="/contacto" class="navbar_link">Contacto</a></li>
        <li><a href="/users/carrito" class="navbar_link">Carrito</a></li>
      </ul>
      <ul>
        <li>*foto perfil*</li>
        <li><a href="/users/login" class="navbar_link">Inciar Sesión</a></li>
        <li><a href="/users/register" class="navbar_link">Registro</a></li>
      </ul>
    </nav>

    <div class="burger-menu">
      <i class="fa fa-bars burger"></i>
  </div>
</header>