<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  <title>404 error</title>
</head>
<body>
  <h1 class="error">Esta pagina no funciona</h1>
  <div class="contenedor-boton">
    <a href="/" class="boton">Volver al Inicio</a>
  </div>
</body>
<footer>
  <%-include('./partials/footer.ejs')%>
</footer>
</html>
