<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/style.css">
  <title>404 error</title>
</head>
<body class="registro">
  <section class="contenedor__404">
    <br><br><br>
    <h1 class="titulo">Esta pagina no funciona vuelve al incio</h1>
      <video autoplay loop muted> 
        <source src="/img/404video.mp4" autoplay="autoplay" type="video/mp4">
        Tu navegador no soporta videos.
      </video>
    <div class="container-404">
      <a href="/" class="boton btn-regis">Volver al Inicio</a>
    </div>
</section>
</body>
<footer>
  <%-include('./partials/footer.ejs')%>
</footer>
</html>


