<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/style.css"> 
    <%- include('./partials/head.ejs') %>
    <title>Contacto</title>
  </head>

  <body>
    <header>
      <%-include('./partials/header.ejs')%>
    </header>
    <main id="contactos">
        <div class="contenedorImg">
        <div class="contenedorImg2">
            <img src="/img/contacto.jpg" alt="">
        </div>
          <h2 class="contacto">Contactanos:</h2>
          <p>Contactanos para resolver tus dudas, si tienes alguna recomendación para nuestro equipo o si notas algún problema con el sitio</p>
          <br>
          <form action="/" method="POST">
          <label>E-mail:</label>
          <input class="correoc" type="email" name="email" placeholder="E-mail" required />
          <form action="/" method="POST">
          <div>
            <label>Mensaje:</label>
          </div>
            <div class="input"><textarea>Escribe tu mensaje...</textarea></div>
            <div class="contenedor-boton">
              <a href="#" class="boton">Enviar</a>
            </div>
          </div>
          <br>
          <br>
        </div>
        <!--TODO: elegir uno de los dos formatos-->

        <!--<input type="text" required placeholder="Escribinos acá">
        <input type="submit" value="Enviar" /> -->

        <!--<div class="form" action="#" method="GET">
        <div class="input"><textarea>Escribinos</textarea></div>
        <div class="submit"><input type="button" value="Enviar"></div>
        </div> -->
      </form>

    </form>
    

</main>
  <footer>
    <%-include('./partials/footer.ejs')%>
  <footer></footer>
</body>

</html>