<!DOCTYPE html>
<html lang="en">
  <!--
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/styleCon.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Joan&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
  </head>
  -->

  <head>
    <link rel="stylesheet" href="/css/styleCon.css"> 
    <%- include('./partials/head.ejs') %>
    <title>Contacto</title>
  </head>


  <body>
    <header>
      <%-include('./partials/header.ejs')%>
    </header>
    <main>
        <div class="contenedorImg">
        <div class="contenedorImg2">
            <img src="/img/contacto.jpg" alt="">
        </div>
          <h2>Contactanos:</h2>
          <p>Contactanos para resolver tus dudas, si tienes alguna recomendación para nuestro equipo o si notas algún problema con el sitio</p>
          <br>
          <form action="/" method="POST">
          <label>E-mail:</label>
          <input type="emial" name="email" placeholder="email" required />
          <form action="/" method="POST">
          <div>
            <label>Mensaje:</label>
          </div>
            <div class="input"><textarea>Escribe tu mensaje...</textarea></div>
            <div class="contenedor-boton">
              <a href="#" class="boton">Enviar</a>
            </div>
          </div>
          <br>
          <br>
        </div>
      
        <!--TODO: elegir uno de los dos formatos-->

        <!--<input type="text" required placeholder="Escribinos acá">
        <input type="submit" value="Enviar" /> -->

        <!--<div class="form" action="#" method="GET">
        <div class="input"><textarea>Escribinos</textarea></div>
        <div class="submit"><input type="button" value="Enviar"></div>
        </div> -->
      </form>

    </form>
    

</main>
  <footer>
    <%-include('./partials/footer.ejs')%>
  <footer></footer>
</body>

</html>