<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link rel="stylesheet" href="css/styles.css" />
    <title>Contacto</title>
</head>

<body>

<header>
    <!--pegar header terminado-->
</header>

<main>
    
    <h2>Contactanos:</h2>
    <p>Contactanos para resolver tus dudas, si tienes alguna recomendación para nuestro equipo o si notas algún problema con el sitio</p>
    <br>
    <form action="/" method="POST">

        <label>Email:</label>
        <input type="email" name="email" placeholder="email" required />
        <br>
        <br>

        <!--TODO: elegir uno de los dos formatos-->

        <!--<input type="text" required placeholder="Escribinos acá">
        <input type="submit" value="Enviar" /> -->

        <!--<div class="form" action="#" method="GET">
        <div class="input"><textarea>Escribinos</textarea></div>
        <div class="submit"><input type="button" value="Enviar"></div>
        </div> -->

    </form>
    

</main>

<footer>
    <!--pegar footer terminado-->
</footer>

</body>

</html>