<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/styleEve.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Joan&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickets To Go</title>
  </head>

  <body>
    <header>
      <a href="/">
        <img class="logo" src="/img/Logo_transparente.png" alt="logo" />
      </a>
      <nav class="nav-bar">
        <li><a href="/index" class="navbar_link">Inicio</a></li>
        <li><a href="/eventos" class="navbar_link">Eventos</a></li>
        <li><a href="/nosotros" class="navbar_link">Nosotros</a></li>
        <li><a href="/contacto" class="navbar_link">Contacto</a></li>
        <li><a href="/carrito" class="navbar_link">Carrito</a></li>
        <li>*foto perfil*</li>
        <li><a href="/login" class="navbar_link">Inciar Sesión</a></li>
      </nav>
    </header>
    <div class="boxEvento">
    <div class="imgEvento">
      <img src="img/concierto 5.jpg" alt="">
      <p>Estadio Nacional Julio Martínez Prádanos - Av. Grecia 2001</p>
    </div>
    <h2 class="titleEvents">Santiago,Chile</h2>
    <div class="eventsParagraph">
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero delectus, accusantium hic veniam quibusdam 
      dicta dolore omnis? Soluta, dignissimos dolores. Molestiae architecto dignissimos amet 
      illum magnam quo incidunt consequuntur.
      </p>

    <a href="#" class="botonCarrito">Agregar a Carrito</a>
  </div>
  </body>
</html>
