<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css"> 
  <%- include('./partials/head.ejs') %>
  <title>Tickets To Go</title>
</head>

<body>
  <%- include('./partials/header.ejs')%>
    <section class="contenedor eventos">
        <article class="contenedor">
            <h2 class="titulo">Eventos</h2>
            <p class="text">Después de unos años de pandemia en el que no hubo conciertos por las restricciones del covid-19, 
                TicketsToGo se alista para vivir de forma presencial 
                la llegada de <span>A Star is Born</span> a la tarima.
            </p>
            <div class="contenedor-botones">
                <a href="/products/eventos" class="boton">Eventos</a>
            </div>
        </article>
    </section>

    <section class="contenedor servicios">
        <h2 class="titulo">Servicios</h2>
        <ul class="lista-servicios">
            <li>
                <h4 class="h4-servicios">Call Center</h4>
                <figure>
                    <img  class="icono" src="/img/centro-de-llamadas.png" alt="centro-llamadas">
                    <p>Contamos con un call-center que resolvera todas tus dudas, antes, durante y despues del concierto.</p>
                </figure>
            </li>
            <li>
                <h4 class="h4-servicios">Asistencia</h4>
                <figure>
                    <img  class="icono" src="/img/bolsa-de-la-compra.png" alt="centro-llamadas">
                    <p>Te acompanamos durante todo tu proceso de compra en nuestra plataforma y cualquier duda sera resuelta al momento.</p>
                </figure>
            </li>
            <li>
                <h4 class="h4-servicios">Cloud</h4>
                <figure>
                    <img class="icono" src="/img/nube.png" alt="Nube">
                    <p>Todos los datos sobre tu compra se almacenan en la nube y puedes acceder desde cualquier dispositivo.</p>
                </figure>
            </li>
        </ul>
    </section>

    <section id="nos" class="contenedor nosotros">
        <article class="cont-nosotros">
            <h2 class="titulo">Nosotros</h2>
            <p class="text-nos">“A Star is Born” se centra en Jackson Maine, un músico country veterano cuya carrera 
                se encuentra en decadencia. Maine descubre a una talentosa cantante llamada Ally, una joven aspirante a 
                estrella que sueña con triunfar en el apasionante mundo del espectáculo.
            </p>
            <br>
            <p class="text-nos">En enero de 2011 se anunció que el proyecto estaba en marcha, aunque con Clint Eastwood
                como director y Cooper y Beyoncé como potenciales protagonistas. Sin embargo, en marzo de 2015, Warner Bros.
                actualizó que Cooper sería el responsable del proyecto y que debutaría como director en el mismo. El actor 
                también siguió de cerca la producción y guion de la cinta.
            </p>
        </article>
    </section>
    <section class="contenedor youtube">
        <div class="ycontain">
            <div></div>
            <iframe autoplay loop muted width="560" height="315" src="https://www.youtube.com/embed/bo_efYhYU2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
        <section id="contact" class="contenedor contacto">
        <h2 class="titulo">Contactanos</h2>
        <p class="text">Para cualquier duda sobre nuestros servicios o eventos, no dudes en contactarnos
        </p>
        <br>
        <div class="forma">
            <form action="/" method="POST">
            <label>E-mail:</label>
                <input class="correo" type="email" name="email" placeholder="E-mail" required />
                <form action="/" method="POST">
            <label>Mensaje:</label>
            <textarea class="input" name="message" rows="3" cols="40"></textarea>
            <br>
        <div class="contenedor-botones">
            <a href="#" class="boton">Enviar</a>
        </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs')%> 
    <script src="../public/js/burger.js"></script>
</body>
</html>