<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickets To Go</title>
  </head>
  
  <body>
    <header>
      <a href="index.html">
        <img class="logo" src="/img/Logo_transparente.png" alt=""/>
      </a>
      <nav class="nav-bar"> <!--ponerle flexbox en el css-->
        <ul class=navegacion-principal>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="eventos.html">Eventos</a></li>
          <li><a href="nosotros.html">Nosotros</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li><a href="carrito.html">Carrito</a></li>
        </ul>
        <ul>
          <li>*foto perfil*</li>
          <li><a href="/login">Inciar Sesión</a></li>
        </ul>
      </nav>
    </header>
  <main>

    <hr/>
    <div> contiene el slider</div>
    <hr/>

    <div> <!--li con hipervinculo a la pag del evento-->
      <ul> <!--organizar con flowbox-->
        <li> 
          <img src="#" alt="banner del evento">
          <h2>Nombre evento</h2> 
          <h2>fecha evento</h2>
          <p>Lorem ipsum dolor sit amet consectetur ...</p>
        </li>
        <li> 
          <img src="#" alt="banner del evento">
          <h2>Nombre evento</h2> 
          <h2>fecha evento</h2>
          <p>Lorem ipsum dolor sit amet consectetur ...</p>
        </li>
        <li> 
          <img src="#" alt="banner del evento">
          <h2>Nombre evento</h2> 
          <h2>fecha evento</h2>
          <p>Lorem ipsum dolor sit amet consectetur ...</p>
        </li>
        <li> 
          <img src="#" alt="banner del evento">
          <h2>Nombre evento</h2> 
          <h2>fecha evento</h2>
          <p>Lorem ipsum dolor sit amet consectetur ...</p>
        </li>
      </ul>
    </div>

    <hr>
      <video width="300px" height="200px" src="#" poster="#" autoplay loop controls>video</video>
    </hr>
    <!--Si quieren pueden hacer un video en yt y dsp lo pongo en la pag-->
</main>

  <footer>
      <ul>
        <li>
          <a href="#">icono</a>
        </li>
        <li>
          <a href="#">icono</a>
        </li>
        <li>
          <a href="#">icono</a>
        </li>
        <li>
          <a href="#">icono</a>
        </li>
        <li>
          <a href="#">icono</a>
        </li>
      </ul>
  </footer>

  </body>
</html>
