<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickets To Go</title>
  </head>
  
  <body>
    <header>
        <a href="/">
          <img class="logo" src="/img/Logo_transparente.png" alt=""/>
        </a>
        <nav class="nav-bar"> 
            <li><a href="/" class="navbar_link">Inicio</a></li>
            <li><a href="/eventos" class="navbar_link">Eventos</a></li>
            <li><a href="/nosotros" class="navbar_link">Nosotros</a></li>
            <li><a href="/contacto" class="navbar_link">Contacto</a></li>
            <li><a href="/users/carrito" class="navbar_link">Carrito</a></li>
            <li>*foto perfil*</li>
            <li><a href="/users/login" class="navbar_link">Inciar Sesión</a></li>
            <li><a href="/users/register" class="navbar_link">Registro</a></li>
        </nav>

        <div class="burger-menu">
          <i class="fa fa-bars burger"></i>
      </div>
    </header>

  <main>
    <div class="slider-contenedor">
      <img src="/img/Slider.png" alt="slider_placeholder" class="slider">
    </div>
  <h2 class="conciertos">Conciertos</h2>
    <section class="contenedor-conciertos1"> <!--li con hipervinculo a la pag del evento-->
       <!--organizar con flowbox-->
        <li> 
          <img src="img/concierto 1.jpg" alt="concierto_1" class="concierto_img">
          <h2>Buenos Aires, Argentina</h2> 
          <h3>30/03/2022</h3>
          <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quam unde voluptatem! Cumque incidunt animi fugiat error molestiae sapiente, vel illum aliquam deleniti odit expedita aspernatur a libero nostrum omnis?
        </p>
        </li>
        <li> 
          <img src="img/concierto 2.jpg" alt="concierto_2" class="concierto_img">
          <h2>Monterrey, México</h2> 
          <h3>23/04/2022</h3>
          <p class="info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, illum esse? Illo nisi molestias esse numquam omnis incidunt temporibus tenetur? Harum consequuntur laudantium eaque accusamus quas nisi velit corrupti quod?
        </p>
        </li>
      </section>
      <section class="contenedor-conciertos2"> 
        <li> 
          <img src="img/concierto 3.jpg" alt="concierto_3" class="concierto_img">
          <h2>Cundinamarca, Colombia</h2> 
          <h3>01/05/2022</h3>
          <p class="info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis sint animi dolor nemo ipsa, rerum fugit non placeat quos eligendi laudantium facilis natus sunt quod, reiciendis iste nulla. Voluptatibus, dolorum!
        </p>
        </li>
        <li> 
          <img src="img/concierto 4.jpg" alt="concierto_4" class="concierto_img">
          <h2>Santiago, Chile</h2> 
          <h3>12/06/2022</h3>
          <p class="info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, neque eaque, itaque temporibus enim, in odit sint id corporis qui fuga minima aliquam eius est consequuntur! Placeat non odio recusandae!
        </p>
        </li>
      </section>
    
  <div class="iframe-container">
      <iframe width="360" height="216" src="https://www.youtube.com/embed/bo_efYhYU2A"  class="ytube" </iframe> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="iframe-container-tab">
      <iframe width="750" height="505" src="https://www.youtube.com/embed/bo_efYhYU2A"  class="ytube" </iframe>title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="iframe-container-lap">
      <iframe width="990" height="515" src="https://www.youtube.com/embed/bo_efYhYU2A"  class="ytube" </iframe>title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
 
    <!--Si quieren pueden hacer un video en yt y dsp lo pongo en la pag-->
  </main>

  <footer>
    <section class="redes">
        <li>
          <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com"><i class="fa-brands fa-instagram-square"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com"><i class="fa-brands fa-youtube-square"></i></a>
        </li>
        <li>
          <a href="https://www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
        </li>
        
    </section>
    <div class="derechos">
      <p>Todos los derechos Reservados</p>
      <p>Diseño: Diego Franco, Lautaro González, Luis Garza, Nico Del Gio, Sebastián Perez.</p>
    </div>
  </footer>
  </body>
</html>
