<!DOCTYPE html>
<html lang="en">
<!--
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/styleNos.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickets To Go</title>
  </head>
  -->

  <head>
    <link rel="stylesheet" href="/css/style.css"> 
    <%- include('./partials/head.ejs') %>
    <title>Nosotros</title>
  </head>
  
  <body>
    <header>
      <%-include('./partials/header.ejs')%>
    </header>
    <main id="nosotros">
        <div class="contenedor-invisible">
            <img src="/img/about_us.jpg" alt="about_us"</p>
        </div>
        <div class="txtArea">
          <h1 class="h1_nosotros">A Star is Born</h1>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolor nesciunt nam placeat suscipit tempore non optio eos deleniti nobis. Ut eveniet illum optio veritatis libero animi saepe quam iste?
          </p><br>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolor nesciunt nam placeat suscipit tempore non optio eos deleniti nobis. Ut eveniet illum optio veritatis libero animi saepe quam iste?
          </p>
        </div>
    </main>
  <footer>
    <%-include('./partials/footer.ejs')%>
  </footer>
</body>
</html>