<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/pruebas.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="imagen">
        <img src="/img/concierto 3.jpg" alt="" class="imagen2">
    </section>s
</body>
</html>