<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/pruebas.css"> 
  <%- include('./partials/head.ejs') %>
  <title>Tickets To Go</title>
</head>



<body>

<%-include('./partials/header2.ejs')%>

<main>

  <div class="slider-contenedor">
    <img src="/img/Slider.png" alt="slider_placeholder" class="slider">
  </div>

  <div class="main-contenedor">
    <h2 class="title">Conciertos</h2>
    <section class="conciertos-contenedor"> 

      <li class="conciertos"> 
        <img src="img/concierto 1.jpg" alt="concierto_1" class="image">
        <h2 class="place">Buenos Aires, Argentina</h2> 
        <h3 class="date">30/03/2022</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quam unde voluptatem! Cumque incidunt animi fugiat error molestiae sapiente, vel illum aliquam deleniti odit expedita aspernatur a libero nostrum omnis?</p>
        <div class="prize">$6969,69</div>
      </li>
      <li class="conciertos"> 
        <img src="img/concierto 2.jpg" alt="concierto_2" class="image">
        <h2 class="place">Monterrey, México</h2> 
        <h3 class="date">23/04/2022</h3>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, illum esse? Illo nisi molestias esse numquam omnis incidunt temporibus tenetur? Harum consequuntur laudantium eaque accusamus quas nisi velit corrupti quod?</p>
        <div class="prize">$6969,69</div>
      </li>
      <li class="conciertos"> 
        <img src="img/concierto 3.jpg" alt="concierto_3" class="image">
        <h2 class="place">Cundinamarca, Colombia</h2> 
        <h3 class="date">01/05/2022</h3>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis sint animi dolor nemo ipsa, rerum fugit non placeat quos eligendi laudantium facilis natus sunt quod, reiciendis iste nulla. Voluptatibus, dolorum!</p>
        <div class="prize">$6969,69</div>
      </li>
      <li class="conciertos"> 
        <img src="img/concierto 4.jpg" alt="concierto_4" class="image">
        <h2 class="place">Santiago, Chile</h2> 
        <h3 class="date">12/06/2022</h3>
        <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, neque eaque, itaque temporibus enim, in odit sint id corporis qui fuga minima aliquam eius est consequuntur! Placeat non odio recusandae!</p>
        <div class="prize">$6969,69</div>
      </li>
    </section>
  </div>

  <hr>

  <div class="iframe-contenedor">
    <iframe width="360" height="216" src="https://www.youtube.com/embed/bo_efYhYU2A"  class="ytube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</main>    

<%- include('./partials/footer.ejs')%> 

</body>
</html>