/*ESENTIALS*/

:root {
    --negro: #3b3b3b;
    --gris: #333;
    --blanco1: #fff;
    --blanco2: #cecece;
    --fondo: #222222;
    --barra: #ac881ccc;
}

:root { /*TODO: Customizar*/
    --header-font-size: 14px;
    --h1-font-size: 58px;
    --h2-font-size: 44px;
    --h3-font-size: 36px;
    --h4-font-size: 28px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --form-input-field-height: 52px;
    --form-submit-margin: 32px;
    --button-height: 52px;
    --button-small-height: 44px;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width:  10px;
    background-color: var(--fondo);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blanco2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blanco1);
}


/*HEADER 2*/

header {
    background: var(--fondo);
    height: 10vh;
    width: 100vw;
    display: flex;
    position: fixed;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    z-index: 6969696969;
}

.contenedor-logo {
    height: 100%;
    width: 80%;
}

.logo {
    width: 200px;
    height: 100%;
}

.burger-menu {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.burger {
    margin-right: 10%;
    padding: 10%;
    color: var(--blanco2);
}

/*MEDIA HEADER*/

@media (min-width: 320px) {
    .nav-bar{
        display: none;
    }
}

@media (min-width: 768px) { 

    .burger-menu{
        display: none;
    }

    .contenedor-logo {
        width: 20%;
        height: 100%;
    }

    .logo {
        width: 100%;
        height: 100%;
    }

    .nav-bar {
        display: contents;
        display: flex;
        width: 80%;
        height: 100%;
    }

    .ul-izq {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .ul-izq li {
        list-style: none;
    }

    .ul-izq li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif; /*TODO:*/
        font-size: var(--header-font-size);
        font-weight: bold;
        color: var(--blanco2);
        letter-spacing: 0.5px;
    }

    .ul-izq span:hover {
        text-decoration: underline;
        color: var(--blanco1);
    }

    .ul-izq i {
        color: var(--barra);
        font-size: var(--header-font-size);
    }

    .ul-der {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ul-der li {
        list-style: none;
    }

    .ul-der li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif; /*TODO:*/
        font-size: var(--header-font-size);
        font-weight: bold;
        color: var(--barra);
    }

    .ul-der li a i {
        font-size: 20px;
        margin-left: 0.3em;
    }

}

@media (min-width: 1024px) {

    .ul-izq li a {
        font-size: 20px;
    }

    .ul-izq li a i {
        font-size: 20px;
    }

    .ul-der li a i {
        font-size: 20px;
    }

}

/*FOOTER*/

footer {
    height: 10vh;
    width: 100%;
    background: var(--fondo);
    display: flex;
    flex-direction: column;
}

.arriba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 2vh;
}

.arriba a {
    opacity: 0.5;
    color: var(--blanco2);
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.abajo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8vh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.derechos {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background: var(--fondo);
    width: 100%;
}

.derechos p {
    margin: 0 0 0.3em 1em;
    color: var(--blanco2);
    opacity: 0.5;
    font-size: 12px;
    word-spacing: 0.5px;
}

.redes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.redes li {
    margin-right: 0.5em;
}

.redes a {
    color: var(--barra);
    font-size: 2em;
}


/*@MEDIAS FOOTER*/

@media (min-width: 768px) {

    footer {
        height: 10vh;
        width: 100%;
        background: var(--fondo);
        display: flex;
        flex-direction: column;
    }
    
    .arriba {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 2vh;
        text-decoration: none;
    }
    
    .arriba a {
        opacity: 0.5;
        color: var(--blanco2);
    }
    
    .abajo {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 8vh;
    }
    
    .derechos {
        width: 70vw;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .derechos p {
        margin-left: 2em;
        margin-top: 0.3em;
        color: var(--blanco2);
        opacity: 0.5;
    }
    
    .redes {
        width: 30vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .redes li {
        margin-right: 0.5em;
    }
    
    .redes a {
        color: var(--barra);
        font-size: 2em;
    }
}

/*------------------MAIN--------------------*/

main {
    width: 100%;
    background-color: var(--negro);
}

.espacio-header{
    height: 10vh;
    width: 100%;
}

.slider-container {
    width: 100%;
    height: 40vh;
}

.slider {
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.title {
    width: 100%;
    height: 8vh;
    font-size: var(--h4-font-size);
    font-family: 'Times New Roman', Times, serif;
    color: var(--barra);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conciertos-container {
    list-style: none;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.conciertos {
    background-color: var(--fondo);
    margin-bottom: 2vw;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    border-radius: 5px
}

.place, .date {
    color: var(--barra);
    font-weight: 700;
}

.description {
    color: var(--blanco2);
    font-weight: 400;
}

.prize {
    font-size: large;
    color: var(--blanco1);
}

.iframe-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ytube {
    border: 0;
}

/*MEDIAS MAIN*/

@media (min-width: 320px) {

    .iframe-container-tab {
        display: none;
    }

    .iframe-container-lap {
        display: none;
    }

    .ytube {
        width: 100%;
    }

}

@media (min-width: 768px) {

    .iframe-container {
        display: none;
    }

    .iframe-container-tab {
        display: flex;
    }

    .iframe-container-lap {
        display: none;
    }

    .slider-container {
        width: 100%;
        height: 90vh;
    }

    .title {
        display: flex;
        align-items: flex-end;
    }

    .conciertos-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around
    }

    .conciertos {
        width: 45vw;
    }

}

@media (min-width: 1024px) {

    .iframe-container {
        display: none;
    }

    .iframe-container-tab {
        display: none;
    }

    .iframe-container-lap {
        display: flex;
    }

    .conciertos {
        width: 30vw;
    }

}