:root {
    --amarillo: #fecd45;
    --negro: #3b3b3b;
    --azul: #2568fb;
    --blanco: #fff;
    --fondo: #222222;
    --barra: #23395d;
    --barra2: rgba(172, 136, 28, 0.8);
  }
  
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  header .logo {
    width: 80vw;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: var(--);
    text-decoration: none;
    padding-left: 5vw;
  }
  
  .nav-bar .navbar_link,
  .nav-bar li {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
  }
  /*MQ para barra de navegacion en resolucion al y con efectos*/
@media (min-width: 768px){
    .nav-bar a:hover {
        background-color: var(--negro);
        color: var(--barra2);
        width: 25vw;
}
  
.nav-bar {
    display: flex;
    background-color: var(--barra2);
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}
  
.nav-bar li{
    justify-content: space-evenly;
    width: 8vw;
    text-align: center;
}
.nav-bar li:hover {
    background-color: var(--negro);
    color: var(--barra2);
    width: 8vw;
    text-align: center;
}
}
  
  
body{
    background-color: var(--fondo);
    color: #d8d8d8;
    font-family: "Roboto", serif;
}
  
h1{
    color: var(--barra2);
    font-size: 24px;
    font-family: "Joan", serif;
    text-align: center;
}

h1{
    font-size: 6vh;
    margin: 2vh 0;
}

h2{
    display: flex;
    font-size: 5.5vh;
    color: var(--barra2);
    text-align: center;
    justify-content: center;
    font-family: "Joan", serif;
    margin-bottom: 2.5vh;
}
  
h3{
    margin-bottom: 0vh;
    margin-top: 1.5vh;
    font-size: 4vh;
    color: var(--blanco);
    font-family: "Joan", serif;
    text-align: center;

}

h3 span{
    color: var(--barra2);
    
}

.imgConcierto{
    display: flex;
    justify-content: center;
}

.imgConcierto img{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    width: 80vw;
    border: 3px solid var(--barra2);
}

.contenedorDeCompra{
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.descripcion{
    display: flex;
    text-align: justify;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
    margin-top: 5vh;
}

.botonCarrito{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--negro);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    border-width: 3px;
    border-style: solid;
    margin-right: 40vw;
    margin-left: 40vw;
    display: flex;
    align-items: center;
    border-radius: 8%;
}

@media (min-width: 768px){
    .contenedorCon{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imgConcierto{
        border: 3px solid var(--barra2);
        display: flex;
        flex-direction: row;
        width: 60vw;
        height: 75vh;
        background-image: url("/img/concierto 2.jpg");
        background-size: cover;
        background-position: 70%;
    }

    .imgConcierto img{
        display: none;
    }

    .contenedorDeCompra{
        height: 2vh;
        justify-content: center;
    }

    .botonCarrito:hover {
        background-color: var(--negro);
        color: var(--amarillo);
    }

    .contenedor{
        display: flex;
        flex-direction: column;
    }

    .descripcion{
        display: flex;
        width: 75vw;
    }

    .contenedor p{
        width: 75vw;
        margin: 0 auto;
        text-align: justify;
    }

    h3{
        height: 3vh;
    }

    h3:hover{
        color:var(--barra2);
    }
}

@media (min-width: 1024px){
    .contenedor p{
        width: 60vw;
        margin: 0 auto;
        text-align: justify;
    }
}

footer{
background-color: var(--barra2);
padding-bottom: 0.5vh;
margin-top: 2vh;
padding-top: 0.5vh;
}

.redes {
margin-top: 2.5vh;
display: flex;
justify-content: space-evenly;
align-content: center;
padding-top: 1vh;
height: 2vh;
}

.redes li {

display: flex;
align-items: center;
align-content: center;
}

.redes li a {
display: flex;
font-size: 30px;
color: var(--secundario3);
text-decoration: none;
font-size: 20px;
}

.derechos {
text-align: center;
color: var(--secundario3);
}