:root {
    --amarillo: #fecd45;
    --negro: #3b3b3b;
    --azul: #2568fb;
    --blanco: #fff;
    --fondo: #222222;
    --barra: #23395d;
    --amararillo2: rgba(172, 136, 28, 0.8);
  }
  
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
header a{
    display: flex;
    justify-content: center;
}

header .logo {
    display: flex;
    width: 80vw;
    justify-items: center;
}

h2{
    font-size: 5vh;
    margin-bottom: 1vh;
    color: var(--amarillo);
    font-family: "Joan", serif;
}

body {
    background-color: var(--fondo);
    color: #d8d8d8;
    font-family: "Roboto", serif;
}

.checkbox{
        display: flex;
        justify-content: center;
}

.forma p a{
    display: flex;
    color: white;
    justify-content: center;
}

label{
    font-weight: 1000;
    color: var(--amararillo2);
}

@media (min-width: 768px){
    form{
        display: flex;
        flex-direction: column;
        width: 30vw;
        text-align: center;
        justify-content: safe;
    }

    label{
        font-size: 22px;
        font-weight: 1000;
        color: var(--amararillo2);
    }

    .forma{
        display: flex;
        justify-content: center;
    }

    h2{
        text-align: center;
    }
    .forma p a{
        color: white;
    }
}

.boton:hover {
    background-color: var(--negro);
    color: var(--amarillo);
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
    margin-top: 5vh;
}

.boton{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--negro);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    border-width: 3px;
    border-style: solid;
    margin: -5vh 40vw -5vh 40vw;
    display: flex;
    align-items: center;
    border-radius: 8%;
}

.textArea{
    border-style: inset;
    background-color:var(--negro);
}

footer{
    background-color: var(--amararillo2);
    padding-bottom: 0.5vh;
    margin-top: 2vh;
    padding-top: 0.5vh;
    }
    
    .redes {
    margin-top: 2.5vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 1vh;
    height: 2vh;
    }
    
    .redes li {
    
    display: flex;
    align-items: center;
    align-content: center;
    }
    
    .redes li a {
    display: flex;
    font-size: 30px;
    color: var(--secundario3);
    text-decoration: none;
    font-size: 20px;
    }
    
    .derechos {
    text-align: center;
    color: var(--secundario3);
}