:root {
  --amarillo: #fecd45;
  --negro: #3b3b3b;
  --azul: #2568fb;
  --blanco: #fff;
  --fondo: #222222;
  --barra: #23395d;
  --barra2: rgba(172, 136, 28, 0.8);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header .logo {
  width: 80vw;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--);
  text-decoration: none;
  padding-left: 5vw;
}

.nav-bar .navbar_link,
.nav-bar li {
  color: var(--blanco);
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 5px;
}
/*MQ para barra de navegacion en resolucion al y con efectos*/
@media (min-width: 768px) {
  .nav-bar a:hover {
    background-color: var(--negro);
    color: var(--barra2);
    width: 25vw;
  }

  .nav-bar {
    display: flex;
    background-color: var(--barra2);
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
  }

  .nav-bar li {
    justify-content: space-evenly;
    width: 8vw;
    text-align: center;
  }
  .nav-bar li:hover {
    background-color: var(--negro);
    color: var(--barra2);
    width: 8vw;
    text-align: center;
  }
}

  .nav-bar li{
      justify-content: space-evenly;
      width: 8vw;
      text-align: center;
}
  .nav-bar li:hover{
      background-color: var(--negro);
      color: var(--barra2);
      width: 8vw;
      text-align: center;  
}

body {
  background-color: var(--fondo);
  color: #d8d8d8;
  font-family: "Roboto", serif;
}

h1{
  color: var(--principal);
  font-size: 24px;
}

h2 {
  display: flex;
  font-size: 60px;
  color: var(--amarillo);
  text-align: center;
  justify-content: center;
}

h2,
h3 {
  display: flex;
  color: var(--barra2);
  text-align: center;
  font-family: "Joan", serif;
  align-items: center;
  height: 5.5vh;
}

.eventsParagraph{
  text-align: center;
}
.botonCarrito{
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: var(--negro);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--amarillo);
  border-color: var(--amarillo);
  border-width: 3px;
  border-style: solid;
  margin-right: 42vw;
  margin-left: 42vw;
  display: flex;
  align-items: center;
  border-radius: 8%;
}

.imgEvento{
  display: flex;
  justify-items: right;
  height: 400px;
  position: absolute;
  width: 100%;
}


.imgEvento p:hover{
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9) inset;
  font-size: 35px;
  opacity: 100%;
  color: wheat;
  margin-top: 110px;
  padding-top: 110px;
  border-top: 110px;
  
}
.boxEvento {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  padding: 5px;
  border: 5px;
  
}

.titleEvents{
  display: flex;
}

@media (min-width: 768px) {
  .botonCarrito:hover {
    background-color: var(--negro);
    color: var(--amarillo);
  }
  .imgEvento:hover img {
    background-color: red;
  }
}
