:root {
    --principal: #AC881C;
    --secundario: #010010;
    --secundario2: #FFF9E8;
    --secundario3: #E6E6FF;
    --fondo: #020236;
    --barra: rgba(2, 2, 54, 93%);
}

* {
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
}

/*se agrego el ul para que list-style funcionara*/
.nav-bar ul{
    display: flexbox;
    flex-direction: column;
    list-style: none;
}

.navegacion-principal a,
.navegacion-usuario a{
    color: red;
    text-decoration: none;
}


/*ESTO PARA MEDIA QUERIE
.navegacion-principal a:hover {
    /*Cuando el cursor pase cambia de color
    background-color: var(--principal);
    color: var(--secundario4);
}
*/


