:root {
    --amarilloBotton: #fecd45;
    --negro: #3b3b3b;
    --blanco: #fff;
    --fondo: #222222;
    --barra: rgba(172, 136, 28, 0.8);
}

  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
header a{
    display: flex;
    justify-content: center;
}

header .logo {
    display: flex;
    width: 80vw;
    justify-items: center;
}

h2{
    font-size: 5vh;
    margin-bottom: 1vh;
    color: var(--barra);
    font-family: "Joan", serif;
    text-align: center;
}

body {
    background-color: var(--fondo);
    color: #d8d8d8;
    font-family: "Roboto", serif;
    min-height: 100vh;
}

.checkbox{
        display: flex;
        justify-content: center;
}

.forma p a{
    display: flex;
    color: white;
    justify-content: center;
}

label{
    font-weight: 1000;
    color: var(--barra);
}

form{
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px){
    .boton:hover{
        background-color: var(--negro);
        color: var(--amarilloBotton);
    }

    form{
        display: flex;
        flex-direction: column;
        width: 30vw;
        text-align: center;
        justify-content: safe;
    }

    label{
        font-size: 22px;
        font-weight: 1000;
        color: var(--barra);
    }

    .forma{
        display: flex;
        justify-content: center;
    }

    h2{
        text-align: center;
    }

    .forma p a{
        color: white;
    }

    
}

.boton{
    max-width: 6rem;
    justify-content: center;
    align-items: center;
    color: var(--negro);
    text-align: center;
    background-color: var(--barra);
    border: 0;
    min-width: 10rem;
    min-height: 2rem;
    cursor: pointer;
    font-weight: 1000;
    border-radius: 2px;
    font-size: 1rem;
}

.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.checkbox{
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: smaller;
}

.checkbox input {
    cursor: pointer;
}

form p a{
    opacity: 0.9;
    margin-top: 0.5rem;
    font-size: smaller;
}

/*
.contenedor-boton{
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
    margin-top: 5vh;
}

.boton{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--negro);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: var(--amarilloBotton);
    border-color: var(--amarilloBotton);
    border-width: 3px;
    border-style: ridge;
    margin: -5vh 40vw -5vh 40vw;
    display: flex;
    align-items: center;
}*/

.textArea{
    border-style: inset;
    background-color:var(--negro);
}

/* Footer */

footer {
    background-color: var(--barra);
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
}

.redes{
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 1vh;
    height: 2vh;
}

.redes li{
    display: flex;
    align-items: center;
    align-content: center;
}

.redes li a{
    display: flex;
    font-size: 30px;
    color: var(--fondo);
    text-decoration: none;
    font-size: 20px;
}
.redes li a:hover{
    color: var(--blanco);
    transition: .5s ease-in-out;
}

.derechos{
    text-align: center;
    color: var(--secundario3);
}
