<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs') %>
    <title>Carrito</title>
  </head>

  
  <body class="body-f">
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <body>
      <main>
        <h1 class="titulo">Carrito de Compras</h1>
        <ul> <%for(i=0;i<10;i++){%>

          <li id='nro<%=i%>'> </li><%}%>
        </ul>
        <p class="texto"></p>
          <br>
            <button type="button" href="/users/carrito" class="boton btn-regis">Comprar</button>
          </br>

        <!-- <h1 class="titulo">Carrito</h1>
        <section class="contenedorCon">
        <div class="imgConcierto">
            <img src="/img/concierto 3.jpg" alt="concierto_3">
        </div>
        <div class="contenedor">
            <h3 class="titulo"><span>Fecha:</span> pppppp</h3>
            <div class="contenedorDeCompra">
                <label for="quantity">Cantidad de boletos (Max 5):</label>
                <input  type="number" id="quantity" name="quantity" min="1" max="5">
            </div>
            <br>
            <p class="texto">lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ratione quas nisi vero vel similique molestiae corporis corrupti, tempore eos facere facilis, eum maiores dolores ad enim quo. Blanditiis, dolorum.
            </p>
            <div>
              <br>
              <br>
                <button type="button" href="/users/carrito" class="boton btn-regis">Comprar</buton>
                </div>
        </section>
        </div> -->
      </main>
        <footer>
          <%-include('../partials/footer.ejs')%>
        </footer>
        <script type="text/javascript" src="/js/carrito.js"></script>
      </body>
    </html>    