<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/style.css"> 
    <%- include('../partials/head.ejs') %>
    <title>Eliminar Usuarios</title>
  </head>

  <body>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>

    <main>

      <h2 class="h2-reg">Listo!!! ya no hay registros tuyos en nuestra base de datos...</h2></br>

      <h2 class="h2-reg">Puedes loguearte con &nbsp; <a href="../login">otro usuario</a></h2></br>
      <h2 class="h2-reg">O completa tus datos para &nbsp;<a href="../register">registrarte</a></h2></br>
     
    </main>

  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>

  </body>
</html>
