<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/styleReg.css"> 
    <%- include('../partials/head.ejs') %>
    <title>Register</title>
  </head>

  <body>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>

    <main>


      <h2>Perfecto!!!</h2> <br>

      <h2>Ahora podés loguearte...! <a href="./login">Hacé click acá!</a></h2>

      <br>
     
    </main>

  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>

  </body>
</html>
