<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- <link rel="stylesheet" href="/css/styleReg.css">  -->
    <%- include('../partials/head.ejs') %>
    <title>Register</title>
  </head>

  <body>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>

    <main>

      <h3>Ops..!! El email que acabas de ingresar ya pertenece a nuestra base de datos...</h3></br>

      <h3>Prueba de nuevo loguearte con un <a href="./login">email válido</a></h3></br>
      <h3>O completa tus datos para <a href="./register">registrarte</a></h3></br>
     
    </main>

  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>

  </body>
</html>
