<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- <link rel="stylesheet" href="/css/styleReg.css">  -->
    <%- include('../partials/head.ejs') %>
    <title>Register</title>
  </head>

  <body>

  <header>
      <%- include('../partials/header.ejs') %>
  </header>

    <main>

      <h3 class="h4-servicios">Oops..!! El email que acabas de ingresar ya pertenece a nuestra base de datos...</h3></br>
        <div>
          <img class="imgYaExiste" src="/img/oops.jpeg" alt="">
        </div>
      <br>
      <h2 class="h4-servicios">Prueba de nuevo loguearte con un &nbsp; <a class="links" href="./login"> email válido</a></h2></br>
      <h2 class="h4-servicios">O completa tus datos para &nbsp; </span><a class="links" href="./register"> registrarte</a></h2></br>
     
    </main>

  <footer>
    <%-include('../partials/footer.ejs')%>
  </footer>

  </body>
</html>
