<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="/css/style.css"> 
    <%- include('./partials/head.ejs') %>
    <title>Nosotros</title>
  </head>
  
  <body>
    <header>
      <%-include('./partials/header.ejs')%>
    </header>
    <main id="nosotros">
        <div class="contenedor-invisible">
            <img src="/img/about_us.jpg" alt="about_us"</p>
        </div>
        <div class="txtArea">
          <h1 class="h1_nosotros">A Star is Born</h1>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolor nesciunt nam placeat suscipit tempore non optio eos deleniti nobis. Ut eveniet illum optio veritatis libero animi saepe quam iste?
          </p><br>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolor nesciunt nam placeat suscipit tempore non optio eos deleniti nobis. Ut eveniet illum optio veritatis libero animi saepe quam iste?
          </p>
        </div>
    </main>
  <footer>
    <%-include('./partials/footer.ejs')%>
  </footer>
</body>
</html>