<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styleEve.css" />
        <%- include('../partials/head.ejs') %>
    <title>Eventos</title>
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <main>
        <h2>Subir evento nuevo</h2>
        <form class="form_crear" action="/products/creandoEvento" method="POST" enctype="multipart/form-data">
            <label>Lugar del Evento:</label>
                <input type="text" name="place" placeholder="evento" required />
            <br />
            <br />
            <label for="fechaEvento">Fecha del Evento:</label>
                <input type="date" name="date" id="date" required />
            <br />
            <br />
            <label for="bannerEvento">Banner del Evento:</label>
                <input
                    type="file"
                    name="image"
                    id="image"
                    accept="image/png, image/jpeg"
                />
            <br />
            <br />
            <label>Precio:</label>
                <input type="text" name="prize" placeholder="precio" required />
                <input type="text" name="currency" placeholder="moneda" required />
            <br />
            <br />
            <label>Descripción:</label>
                <input type="textarea" name="description" placeholder="" required />
                
            <br />
            <div class="label__crear">
            <label class="categoria__crear">Categoria del Evento:</label><br>
                <div class="input__crear"></div>
                    <label><input type="checkbox" id="tipo1" value="tipo1"> Concierto pequeño </label><br>
                </div>
                <div class="input__crear">
                    <label><input type="checkbox" id="tipo1" value="tipo1"> Concierto mediano </label><br>
                </div>
                <div class="input__crear">
                    <label><input type="checkbox" id="tipo1" value="tipo1"> Concierto grande </label><br>
                </div>
                <div class="input__crear">
                    <label><input type="checkbox" id="tipo1" value="tipo1"> Meet and Greet </label><br>
                </div>
                <div class="input__crear">
                    <label><input type="checkbox" id="tipo1" value="tipo1"> Otros </label><br>
                </div>
            <br />
            <br />
            </div>
                <div class="botones botones_crear">
                    <input type="reset" class="boton botones" value="Borrar" />
                    <input type="submit" class="boton botones" value="Enviar" />
                </div>
        </form>

    </main>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>
</html>