<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css" />
        <%- include('../partials/head.ejs') %>
    <title>Eventos</title>
</head>

<body class="registro">

    <%-include('../partials/header.ejs')%>

    <div class="espacio-header"></div>

    <main>
            <br>
            <br>
            <h1 class="titulo">Subir evento nuevo</h2>

            <form class="form_crear " action="/products/creandoEvento" method="POST" enctype="multipart/form-data"
            class="form_reg">
                <label>Lugar del Evento:</label>
                <br>
                    <input class="inputs" type="text" name="place" placeholder="evento" required />
                <br>
                <br>
                <label for="fechaEvento">Fecha del Evento:</label>
                <br>
                    <input class="inputs" type="date" name="date" id="date" required />
                <br>
                <br>
                <label for="bannerEvento">Banner del Evento:</label>
                <br>
                    <input class="inputs"
                        type="file"
                        name="image"
                        id="image"
                        accept="image/png, image/jpeg"
                    />
                <br>
                <br>
                <label>Precio:</label>
                <br>
                    <input class="inputs" type="text" name="prize" placeholder="precio" required />
                <br>
                <br>
                    <label>Moneda:</label>
                <br>
                    <input class="inputs" type="text" name="currency" placeholder="moneda" required />
                <br>
                <br>
                    <label>Descripción:</label>
                <br>
                    <input class="inputs" type="textarea" name="description" placeholder="" required />
                <br>
                <br>
                <div class="botones-registro">
                    <input type="reset" class="botones btn-regis" value="Borrar" />
                    <input type="submit" class="botones btn-regis" value="Enviar" />
                </div>     
        </form>

    </main>


    <%-include('../partials/footer.ejs')%>

</body>
</html>