<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styleEve.css" />
        <%- include('../partials/head.ejs') %>
    <title>Editar Eventos</title>
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <main>
        <h2>Editar Eventos</h2>
        <form action="/" method="POST">
            <label>Eventos programados:</label>
            <p>
                Aca iria una lista de los eventos y habria que agregarle una opcion extra para 
                editarlos o eliminarlos
            </p>
        </form>

    </main>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>
</html>