<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styleEve.css" />
        <%- include('../partials/head.ejs') %>
    <title>Editar Eventos</title>
</head>

<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <main>
        <h1>Editar Eventos</h1>
        <form action="/products/editarEvento?_method=PUT" method="POST">
            <label for="">Eventos programados:</label>
            <input type="text" name="nombre" value="<%= eventoToEdit.name%>" >
            
            <div class="botones">
                <input type="button" class="boton" value="Eliminar">
                <input type="button" class="boton" value="Editar">
            </div>
        </form>

    </main>

    <footer>
        <%-include('../partials/footer.ejs')%>
    </footer>
</body>
</html>