<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/styleEve.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Joan&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventos</title>
  </head>

  <body>
    <header>
      <a href="/">
        <img class="logo" src="/img/Logo_transparente.png" alt="logo" />
      </a>
      <nav class="nav-bar">
        <li><a href="/index" class="navbar_link">Inicio</a></li>
        <li><a href="/eventos" class="navbar_link">Eventos</a></li>
        <li><a href="/nosotros" class="navbar_link">Nosotros</a></li>
        <li><a href="/contacto" class="navbar_link">Contacto</a></li>
        <li><a href="/carrito" class="navbar_link">Carrito</a></li>
        <li>*foto perfil*</li>
        <li><a href="/login" class="navbar_link">Inciar Sesi칩n</a></li>
      </nav>
    </header>
  <main>
    <h2 class="titleEvents">Santiago,Chile</h2>
    <h3>01/05/2022</h3>
    <div class="imgEvento">
      <div class="img2"></div>
      <p class="txtEvento">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero delectus, accusantium hic veniam quibusdam 
        dicta dolore omnis? Soluta, dignissimos dolores. Molestiae architecto dignissimos amet 
        illum magnam quo incidunt consequuntur.<br><br>
      <n>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero delectus, accusantium hic veniam quibusdam 
        dicta dolore omnis? Soluta, dignissimos dolores. Molestiae architecto dignissimos amet 
      </n><br>
      <n>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero delectus, accusantium hic veniam quibusdam 
        dicta dolore omnis? Soluta, dignissimos dolores. Molestiae architecto dignissimos amet 
      </n><br>
      <n>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vero delectus, accusantium hic veniam quibusdam 
        dicta dolore omnis? Soluta, dignissimos dolores. Molestiae architecto dignissimos amet 
      </n>
      </p>
      
    </div>
      <div class="contenedor-boton">
    <a href="#" class="botonCarrito">Agregar a Carrito</a>
      </div>
    <center>
      <div class="mapouter"><div class="gmap_canvas"><iframe width="312" height="225" id="gmap_canvas" src="https://maps.google.com/maps?q=Estadio%20Nacional%20Julio%20Mart%C3%ADnez%20Pr%C3%A1danos&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:225px;width:360px;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:225px;width:360px;}</style></div></div>
    </center>
  </main>
    <footer>
      <section class="redes">
          <li>
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
          </li>
          <li>
            <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram-square"></i></a>
          </li>
          <li>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube-square"></i></a>
          </li>
          <li>
            <a href="https://www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
          </li>
          
      </section>
      <div class="derechos">
        <p>Todos los derechos Reservados</p>
        <p>Dise침o: Diego Franco, Lautaro Gonz치lez, Luis Garza, Nico Del Gio, Sebasti치n Perez.</p>
      </div>
    </footer>
  </body>
</html>
